:root {
    box-sizing: border-box;
    width: 1200px;
    margin: 0px auto;
    padding: 0px;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.head {
    height: 50px;
    margin: 0px 0px 70px;
}

.f_flex-parent {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

.flex-parent {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.img {
    width: 600px;
}

.flex-child:nth-of-type(1) {
    font-size: 50px;
    line-height: 1;
}

.list-item {
    display: inline-block;
}

.list-link {
    min-width: 130px;
    padding: 0px 20px;
    color: #95e1d3;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
}

.link1::after {
    content: "";
    width: 0px;
    height: 2px;
    background: #f38181;
    display: block;
    margin: 1px auto;
}
.link1:hover.link1::after {
    width: 50px;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.link2::after {
    content: "";
    width: 0px;
    height: 2px;
    background: #f38181;
    display: block;
    margin: 4px auto;
}
.link2:hover.link2::after {
    width: 65px;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.link3::after {
    content: "";
    width: 0px;
    height: 2px;
    background: #f38181;
    display: block;
    margin: 4px auto;
}
.link3:hover.link3::after {
    width: 45px;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.link4::after {
    content: "";
    width: 0px;
    height: 2px;
    background: #f38181;
    display: block;
    margin: 4px auto;
}
.link4:hover.link4::after {
    width: 45px;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.link5::after {
    content: "";
    width: 0px;
    height: 2px;
    background: #f38181;
    display: block;
    margin: 4px auto;
}
.link5:hover.link5::after {
    transition-duration: 200ms;
    width: 45px;
    transition-timing-function: linear;
}

.link6::after {
    content: "";
    width: 0px;
    height: 2px;
    background: #f38181;
    display: block;
    margin: 4px auto;
}
.link6:hover.link6::after {
    transition-duration: 200ms;
    width: 80px;
    transition-timing-function: linear;
}

.list-link:hover {
    color: #f38181;
}

.head-text {
    text-align: center;
}

.title-head {
    color: #000000;
    font-family: 'Kaushan Script';
    font-weight: 100;
}

.title {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.title::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    display: block;
    margin: 40px auto;
}

.section {
    margin-top: 60px;
}

.article {
    width: 380px;
    margin-bottom: 90px;
}

.art_flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.t_flex-parent {
    display: flex;
}

.t_img {
    width: 170px;
    text-align: center;
}

.art-text {
    color: #999999;
}

.indent {
    display: inline-block;
    width: 940px;
    color: #999999;
}

.content-article {
    position: relative;
}

.head-text {
    margin-bottom: 80px;
}

.content-section{
    display: flex;
    justify-content: space-between;
}

.content-wrapper {
    position: relative;
    width: 380px;
    height: 470px;
    padding: 0px;
    cursor: pointer;
}

.content-shadow {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 471px;
    width: 380px;
    background-image: linear-gradient(#ef8b8a,#edd587);
    opacity: 0.8;
    z-index: -1;
}

.shadow {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 471px;
    width: 380px;
    background: #95e1d3;
    z-index: -2;
}

.hover:hover {
    transform: translate(-10px,-10px);
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.hover:hover .content-shadow{
    z-index: 1;
}

.hover:hover .content-icon {
    z-index: 2;
}

.content-icon {
    position: absolute;
    top: 210px;
    right: 80px;
    z-index: -1;
}

.icon1, .icon2, .icon3, .icon4 {
    height: 28px;
    width: 28px;
    background: #fce38a;
}

.content-icon1, .content-icon2, .content-icon3, .content-icon4 {
    border: 0px;
    margin: 0px;
    padding: 12px;
    background: #fce38a;
}

.content-icon1:hover .icon1{
    background: #95e1d3;
}

.content-icon1:hover {
    background: #95e1d3;
}

.content-icon2:hover .icon2{
    background: #95e1d3;
}

.content-icon2:hover {
    background: #95e1d3;
}

.content-icon3:hover .icon3{
    background: #95e1d3;
}

.content-icon3:hover {
    background: #95e1d3;
}

.content-icon4:hover .icon4{
    background: #95e1d3;
}

.content-icon4:hover {
    background: #95e1d3;
}

.content-inf {
    text-align: center;
}

.content-text {
    color: #999999;
}

main {
    margin-bottom: 80px;
}

.wrapper {
    display: inline-block;
}

.cart-link {
    color: #f38181;
    text-decoration: none;
}

form {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
  }
  
  input {
    font-size: 16px;
    border: none;
    box-shadow: none;
    vertical-align: middle;
  }
  
  input[type="email"] {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    padding-left: 1rem;
  }
  
  input[type="submit"] {
    width: 152px;
    height: 40px;
    background: #95e1d3;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  input::placeholder {
    color: #e7e7e7;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 15px;
  }

  .f_flex-parent {
      display: flex;
      justify-content: space-between;
  }