:root {
    box-sizing: border-box;
    width: 1200px;
    margin: 0px auto;
    padding: 0px;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*-----------------------#head----------------------------*/

.head {
    height: 50px;
    margin-bottom: 70px;
    font-size: 50px;
    line-height: 1;
}

.f_flex-parent {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

.flex-parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.img {
    width: 600px;
}

.list {
    margin: 0px;
    padding: 0px;
}

.list-item {
    display: inline-block;
}

.list-link {
    min-width: 130px;
    padding: 0px 20px;
    color: #95e1d3;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
}

.list-link::after {
    content: "";
    width: 0px;
    height: 2px;
    background: #f38181;
    display: block;
    margin: 1px auto;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    }

.list-link:hover.list-link::after {
    width: 80%;
    }

.list-link:hover {
    color: #f38181;
}

/*-------------------------------#tittle---------------------------*/

.head-text {
    text-align: center;
    margin-bottom: 80px;
}

.title-head {
    color: #000000;
    font-family: 'Kaushan Script';
    font-weight: 100;
}

.title {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.title::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    display: block;
    margin: 40px auto;
}

.indent {
    display: inline-block;
    width: 940px;
    color: #999999;
}

/*------------------------#article---------------------------*/

.section {
    margin-top: 60px;
}

.article {
    width: 380px;
    margin-bottom: 90px;
}

.art_flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.t_flex-parent {
    display: flex;
}

.t_img {
    width: 170px;
    text-align: center;
}

.art-text {
    color: #999999;
}

/*---------------------------#content------------------------*/

.content-section{
    display: flex;
    justify-content: space-between;
}

.content-article {
    position: relative;
}

.content-wrapper {
    position: relative;
    width: 380px;
    height: 470px;
    padding: 0px;
    cursor: pointer;
    transition: all 200ms linear;
    bottom: 0px;
    right: 0px;
}

.content-shadow {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 471px;
    width: 380px;
    background-image: linear-gradient(#ef8b8a,#edd587);
    opacity: 0;
    transition: all 200ms linear;
}

.shadow {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 471px;
    width: 380px;
    background: #95e1d3;
    z-index: -2;
}

.hover:hover {
   bottom: 10px;
   right: 10px;
}

.content-wrapper:hover .content-shadow{
    opacity: 0.8;
}

.content-wrapper:hover .content-icons {
    opacity: 1;
}

.content-icons {
    position: absolute;
    top: 210px;
    right: 80px;
    opacity: 0;
    transition: all 200ms linear;
}

.icon {
    height: 28px;
    width: 28px;
    background: #fce38a;
    transition: all 200ms linear;
}

.content-icon{
    border: 0px;
    margin: 0px;
    padding: 12px;
    background: #fce38a;
    transition: all 200ms linear;
}

.content-icon:hover .icon{
    background: #95e1d3;
}

.content-icon:hover {
    background: #95e1d3;
}

.content-inf {
    text-align: center;
}

.content-text {
    color: #999999;
}

main {
    margin-bottom: 80px;
}

/*--------------------------#footer--------------------------*/

.wrapper {
    display: inline-block;
}

.cart-link {
    color: #f38181;
    text-decoration: none;
}

form {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
  }
  
  input {
    font-size: 16px;
    border: none;
    box-shadow: none;
    vertical-align: middle;
  }
  
  input[type="email"] {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    padding-left: 1rem;
  }
  
  input[type="submit"] {
    width: 152px;
    height: 40px;
    background: #95e1d3;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  input::placeholder {
    color: #e7e7e7;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 15px;
  }

  .f_flex-parent {
      display: flex;
      justify-content: space-between;
  }